<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork896-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Hands-on Lab: Accessing Your Database with RSQLIte</h1>

### Welcome!

In this hands-on lab, we will learn how to connect and discover metadata from database servers with R using RSQlite.

<div class="alert alert-block alert-info" style="margin-top: 20px">
<h3>Tasks</h3>
<ol><ol><ol>
<li><a href="https://#ref6a">Pre-requisites</a></li>
<li><a href="https://#ref6b">Create an R notebook</a></li>
<li><a href="https://#ref6c">Load RSQLIte</a></li>
<li><a href="https://#ref6e">Create a database connection</a></li>
<li><a href="https://#ref6f">Connection Attributes</a></li>
<li><a href="https://#ref6g">Connection Metadata</a></li>
<li><a href="https://#ref6h">Supported Datatypes</a></li>
<li><a href="https://#ref6i">List of Tables</a></li>
<li><a href="https://#ref6j">Columns in a Table</a></li>
<li><a href="https://#ref6k">Dis-connect</a></li>
</ol></ol></ol>
<br>
Estimated Time Needed: <strong>15 min</strong>
</div>

<a id="ref6a"></a>

<h3>a. Pre-requisites</h3>

In this lab we will use Jupyter Notebooks within SN Labs to access data in a SQlite database  using RSQLite.

<a id="ref6b"></a>

<h3>b. Create an R notebook</h3>

If necessary, set the notebook kernel to use R (using the dropdown in the top right corner).

![](https://ibm.box.com/shared/static/vb8qv1tyq3b40sq4urgyfk9fwi2i8rpm.png)

<a id="ref6c"></a>

<h3>c. Load RSQLIte</h3>

The RSQlite  package needs to be installed in your notebook. Let’s load the RSQLite package by clicking on the following cell and executing it (Shift+Enter):

In [1]:
#install.packages("RSQLite")
library("RSQLite")

Warning message:
"package 'RSQLite' was built under R version 3.6.3"

<a id="ref6e"></a>

<h3>b. Create a database connection</h3>

In [33]:
con <- dbConnect(RSQLite::SQLite(),"TestDB.sqlite")
con

<SQLiteConnection>
  Path: C:\Users\huyho\anaconda3\envs\r-jupyter\lophoc\TestDB.sqlite
  Extensions: TRUE

In [34]:
con2 <- dbConnect(RSQLite::SQLite(),"FirstDB.sqlite")
con2

<SQLiteConnection>
  Path: C:\Users\huyho\anaconda3\envs\r-jupyter\lophoc\FirstDB.sqlite
  Extensions: TRUE

<details>
<summary>Click here to view/hide hint</summary>
<p>

Load the SQlite driver to the connect method and  also pass the database name.

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
con <- dbConnect(RSQLite::SQLite(),"TestDB.sqlite")
con
```

</details>

<a id="ref6f"></a>

<h3>c. Connection Attributes</h3>

Let’s examine the connection attributes:

In [35]:
attributes(con)

$ptr
<pointer: 0x0000000061318dd0>

$dbname
[1] "C:\\Users\\huyho\\anaconda3\\envs\\r-jupyter\\lophoc\\TestDB.sqlite"

$loadable.extensions
[1] TRUE

$flags
[1] 70

$vfs
[1] ""

$ref
<environment: 0x0000000063cbc078>

$bigint
[1] "integer64"

$extended_types
[1] FALSE

$class
[1] "SQLiteConnection"
attr(,"package")
[1] "RSQLite"

In [36]:
attributes(con2)

$ptr
<pointer: 0x0000000061319990>

$dbname
[1] "C:\\Users\\huyho\\anaconda3\\envs\\r-jupyter\\lophoc\\FirstDB.sqlite"

$loadable.extensions
[1] TRUE

$flags
[1] 70

$vfs
[1] ""

$ref
<environment: 0x00000000644f1278>

$bigint
[1] "integer64"

$extended_types
[1] FALSE

$class
[1] "SQLiteConnection"
attr(,"package")
[1] "RSQLite"

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
Use the attributes() function to display the attributes of the connection object.
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
attributes(conn)
```

</details>

<a id="ref6g"></a>

<h3>d. Connection Metadata</h3>

Review the connection metadata using  the dbGetInfo() function:

In [37]:
con.info <- dbGetInfo(con)
print(con.info['db.version'])
print(con.info['dbname'])

$db.version
[1] "3.35.2"

$dbname
[1] "C:\\Users\\huyho\\anaconda3\\envs\\r-jupyter\\lophoc\\TestDB.sqlite"

In [38]:
con2.info <- dbGetInfo(con2)
print(con2.info['db.version'])
print(con2.info['dbname'])

$db.version
[1] "3.35.2"

$dbname
[1] "C:\\Users\\huyho\\anaconda3\\envs\\r-jupyter\\lophoc\\FirstDB.sqlite"

<details>
<summary>Click here to view/hide hint</summary>

   Use the dbGetInfo() method on the connection object to get the connection information and save it in a variable **conn.info**.  
    
   Later use the variable **conn.info["db.version"]** and **conn.info["dbname"]** to get the information related to **database version** and **database name** .

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
conn.info <- dbGetInfo(conn) 
print(conn.info["db.version"])
print(conn.info["dbname"] )
```

</details>

<a id="ref6h"></a>

<h3>e. Supported Datatypes</h3>

Let’s now examine the datatypes supported by the database:

In [39]:
dbDataType(RSQLite::SQLite(), 1)
dbDataType(RSQLite::SQLite(), 1L)
dbDataType(RSQLite::SQLite(), "1")
dbDataType(RSQLite::SQLite(), TRUE)
dbDataType(RSQLite::SQLite(), list(raw(1)))
sapply(datasets::quakes, dbDataType, dbObj = RSQLite::SQLite())

[1] "REAL"

[1] "INTEGER"

[1] "TEXT"

[1] "INTEGER"

[1] "BLOB"

      lat      long     depth       mag  stations
   "REAL"    "REAL" "INTEGER"    "REAL" "INTEGER"

<details>
<summary>Click here to view/hide hint</summary>
<p>


Use the dbDataType() function to display the datatypes passing the driver information and the argument whose datatype needs to be determined.

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
dbDataType(RSQLite::SQLite(), 1)
dbDataType(RSQLite::SQLite(), 1L)
dbDataType(RSQLite::SQLite(), "1")
dbDataType(RSQLite::SQLite(), TRUE)
dbDataType(RSQLite::SQLite(), list(raw(1)))

sapply(datasets::quakes, dbDataType, dbObj = RSQLite::SQLite())

</details>
```

<a id="ref6i"></a>

<h3>f. List of Tables</h3>

We will use the dbListTables() function to return a list of tabless (i.e. TABLEs, VIEWs, ALIASes, etc.) Initially we will not have any tables in sqllite db.We will use the dbWriteTable(table) to create a table in the database

In [40]:
dbListTables(con)
#dbWriteTable(con,'mtcars',mtcars)
#dbListTables(con)

[1] "mtcars"

In [42]:
dbListTables(con2)
#dbWriteTable(con2,'mtcars',mtcars)
dbListTables(con2)

[1] "Animal" "mtcars"

[1] "Animal" "mtcars"

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
# Fill in the ...
Use the dbWriteTable() to create a table in the database by passing the connection object, name of the table and database name.
Later list the tables using dbListTables() by passing connection object.
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
dbListTables(con)
dbWriteTable(con, "mtcars", mtcars)
dbListTables(con)
```

</details>

<a id="ref6j"></a>

<h3>g. Columns in a Table</h3>

Next, let’s look at column metadata for columns in the table **mtcars**:

In [43]:
tables1 = dbListTables(con)
for (table in tables1){
    cat ("\nColumn info for table",table,":\n")
    col.detail <- dbColumnInfo(dbSendQuery(con,paste("select * from",table)))
    print(col.detail)
}

Column info for table mtcars :
   name   type
1   mpg double
2   cyl double
3  disp double
4    hp double
5  drat double
6    wt double
7  qsec double
8    vs double
9    am double
10 gear double
11 carb double

In [51]:
rs=dbSendQuery(con2,"Select * from Animal")
df = fetch(rs,-1)
df

Warning message:
"Closing open result set, pending rows"

  Name     KG Age
1 Cat      10  2
2 meowmeow 12  3
3 NA       NA NA

In [45]:
tables2 = dbListTables(con2)
for (table in tables2){
    cat ("\nColumn info for table",table,":\n")
    col.detail <- dbColumnInfo(dbSendQuery(con2,paste("select * from",table)))
    print(col.detail)
}

Column info for table Animal :
  name      type
1 Name character
2   KG   integer
3  Age   integer

Column info for table mtcars :

Warning message:
"Closing open result set, pending rows"

   name   type
1   mpg double
2   cyl double
3  disp double
4    hp double
5  drat double
6    wt double
7  qsec double
8    vs double
9    am double
10 gear double
11 carb double

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
# Fill in the ...
tab.... <- "...."
col.detail <- dbColumnInfo(dbSendQuery(  ))

```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
tables1 = dbListTables(con)
for (table in tables1){  
        cat ("\nColumn info for table", table, ":\n")
        col.detail <- dbColumnInfo(dbSendQuery(con,paste( "select * from",table)))
        print(col.detail)
}
```

</details>

<a id="ref6k"></a>

<h3>h. Dis-connect</h3>

Finally, as a best practice we should close the database connection once we're done with it.

In [32]:
dbDisconnect(con)
dbDisconnect(con2)

Warning message in connection_release(conn@ptr):
"There are 1 result in use. The connection will be released when they are closed"Warning message in connection_release(conn@ptr):
"There are 1 result in use. The connection will be released when they are closed"

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
Use the dbDisconnect() method passing the connection object to disconnect from the database
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
dbDisconnect(con)
```

</details>

<a id="ref6o"></a>

<h3>Summary</h3>

In this lab you accessed data in a SQlite database using RSQLIte  connection from a R notebook in Jupyter, and discovered different metadata.

<hr>

#### Thank you for completing this lab on getting connected and querying databases using RSQLite.

<hr>

## Authors

*   [Lakshmi Holla](https://www.linkedin.com/in/lakshmi-holla-b39062149/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork23619267-2022-01-01)

## Changelog

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description                    |
| ----------------- | ------- | ------------- | ------------------------------------- |
| 2022-03-08        | 1.0     | Lakshmi Holla | Created Initial Version using RSQLite |

<hr>

<h2 align=center><font size = 5>Copyright &copy; IBM Corporation 2021-2022. All rights reserved.</h2>