<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork896-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center> <font size = 6>Hands-on Lab: Accessing Your Database using RJDBC</font></h1>

### Welcome!

In this hands-on lab, we will discover how to connect and query data from database servers with R using RJDBC.

<div class="alert alert-block alert-info" style="margin-top: 20px">
<h3>Tasks</h3>
<ol><ol><ol>
<li><a href="https://#refa">Load the RJDBC library</a></li>
<li><a href="https://#refb">Download the SQLite Database and SQLite JDBC jar files</a></li>
<li><a href="https://#refc">Provide Database Driver class details</a></li>
<li><a href="https://#refd">Connect to the database</a></li>
<li><a href="https://#refe">Execute a query</a></li>
<li><a href="https://#refe">Dis-connect</a></li>    
</ol></ol></ol>
<p></p>
Estimated Time Needed: <strong>20 min</strong>
</div>

**Pre-requisite**: In this lab we will use Jupyter Notebooks within SN Labs to access data in a SQLite database  using RJDBC.


<a id="refa"></a>

### a. Load the RJDBC library

The RJDBC package is pre-installed in SN Labs. Letâ€™s load the RJDBC package and other required libraries by clicking on the following cell and executing it (Shift+Enter):

> Note: If you want to execute the lab in your local system, you need to install RJDBC and other required libraries by using the code **install.packages(libraryname)**

In [1]:
# install.packages("RJDBC")
library(DBI);
library(rJava);
library(RJDBC);

Warning message:
"package 'DBI' was built under R version 3.6.3"Warning message:
"package 'rJava' was built under R version 3.6.3"



### b. Download the SQLite Database and SQLite JDBC jar files.

* **Loading the curl package:** The curl package suppports retrieving data, writing data to disk and streaming data using R connection interface.
* **Use the curl_download()  function to download the database and the JDBC jar file:** This function specifies 2 parameters, the **URL** of the file to be downloaded, and the **name** of the downloaded file.

In [2]:
library(curl)

In [3]:
curl_download("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/datasets/Instructors.db","Instructors.db")

In [4]:
curl_download("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork/jars/sqlite-jdbc-3.27.2.1.jar","sqlite-jdbc-3.27.2.1.jar")


### c. Provide Database Driver class details

Next, you need to enter the **SQLITE jdbc driver class details which will be used for connecting to SQLite database**

In [13]:
dsn_driver = "org.sqlite.JDBC"


### d. Connect to the database

Next steps are:
* **Specify the database driver to be used:** Here, you will use the function **JDBC()** which takes 2 arguments i.e. the **driver classname** and the **classpath to the driver file**
* **Create a JDBC connection string:** Here, you will create the connection string to SQLite database using details such as hostname, port and database name.
* **Connect to the database:** Then you will use the driver and connection string to actually connect to the database using the RJDBC function dbConnect()

In [14]:
jcc = JDBC(dsn_driver, "sqlite-jdbc-3.27.2.1.jar");
jdbc_path = paste("jdbc:sqlite:Instructors.db");
conn = dbConnect(jcc, jdbc_path)

### e. Execute a Query

Here, you will:
* **Create a sample query:** Here, you will define a **select** statement to select rows from the SQLIte system catalog table **sqlite_master**
* **Use the function dbSendQuery() to query the table:** dbSendQuery() is a function available in the DBI library. dbSendQuery() function takes 2 arguments: **connection object and the SQL query** defined earlier. It returns the resultset from the database.
* **Use the function fetch() to get the results as a dataframe:** fetch() is a function available in the DBI library. This function takes 2 arguments: the **resultset** and the **number of records(n)**. Here, for example if n=2, we are retrieving 2 records from the table. 
* Here, n=-1 is used to retrieve all pending records.

In [17]:
query = "SELECT name FROM sqlite_master"
rs = dbSendQuery(conn, query);
df = fetch(rs, -1);

#### Let's examine the results of the dataframe by looking at the first few rows:

In [16]:
head(df)

  name
1 Instructor

In [18]:
query = "SELECT * from sqlite_master"
rs = dbSendQuery(conn, query)
df = fetch(rs,-1)
df

  type  name       tbl_name   rootpage
1 table Instructor Instructor 2
  sql
1 CREATE TABLE Instructor (ins_id INTEGER PRIMARY KEY NOT NULL, lastname VARCHAR (15) NOT NULL, firstname VARCHAR (15) NOT NULL, city VARCHAR (15), country CHAR (2))

In [19]:
query = "SELECT * from Instructor"
rs = dbSendQuery(conn, query)
df = fetch(rs,-1)
df

  ins_id lastname  firstname city    country
1 1      Ahuja     Rav       Toronto CA
2 2      Chong     Raul      Toronto CA
3 3      Vasudevan Hima      Chicago US

<a id="refe"></a>

### f. Dis-connect

Finally, as a best practice we should close the database connection once we're done with it.

In [9]:
dbDisconnect(conn)

[1] TRUE

### Practice exercises

##### 1.  Enter the SQLITE jdbc driver class details which will be used  for connecting to **SQLite** database

In [10]:
#write your code here
dsn_driver = "org.sqlite.JDBC"

<details>
<summary>Click here to view/hide hint</summary>
<p>


Load the related SQLite JDBC driver class in a variable called **dsn_driver**.
     


</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
#Enter the values for you database connection
dsn_driver = "org.sqlite.JDBC"

```
</details>

##### 2. Create a JDBC connection string

In [11]:
#write your code here
jcc = JDBC(dsn_driver, "sqlite-jdbc-3.27.2.1.jar");
jdbc_path = paste("jdbc:sqlite:Instructors.db");

<details>
<summary>Click here to view/hide hint</summary>
<p>

Create a jdbc connection string containing the Driver class and  class path of the jar file and save it in a variable called **jcc**.
 
Next create another connection string to load the SQLite database and save it in a variable called **jdbc_path**.




</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
jcc = JDBC(dsn_driver, "sqlite-jdbc-3.27.2.1.jar");
jdbc_path = paste("jdbc:sqlite:Instructors.db");
```

</details>

##### 3. Use the driver and connection string to actually connect to the database using the RJDBC function dbConnect().

In [20]:
#write your code here
conn2 = dbConnect(jcc,jdbc_path)

<details>
<summary>Click here to view/hide hint</summary>
<p>


Connect to the database by providing the connection strings related to driver class and loading of SQLite database and save it in a variable called **conn**.
</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
conn = dbConnect(jcc, jdbc_path)
```

</details>

##### 4. Execute a query against the **SQLITE** user defined  table **Instructor** and fetch the first 3 rows into a R dataframe.

In [21]:
#write your code here
query = "Select * from Instructor"
rs = dbSendQuery(conn2,query)
df = fetch(rs,3)
df

  ins_id lastname  firstname city    country
1 1      Ahuja     Rav       Toronto CA
2 2      Chong     Raul      Toronto CA
3 3      Vasudevan Hima      Chicago US

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
Fill in the ...
query = "SELECT * FROM ...";
rs = dbSendQuery(...);
df = fetch(...);
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
query = "SELECT * FROM Instructor;"
rs = dbSendQuery(conn, query);
df = fetch(rs, 3);
```

</details>

##### 5. Dis-connect the database

In [22]:
#write your code here
dbDisconnect(conn2)

[1] TRUE

<details>
<summary>Click here to view/hide hint</summary>
<p>

Use the function which closes the connection and frees resources

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
dbDisconnect(conn)
```

</details>

<a id="ref4g"></a>

### Summary

In this lab you accessed data in a SQLIte database using RJDBC connection from a R notebook in Jupyter, and fetched the results of a query for analysis in a R dataframe.

<hr>

## Authors

*   [Lakshmi Holla](https://www.linkedin.com/in/lakshmi-holla-b39062149/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork896-2023-01-01)
*   [Shreya Khurana](https://www.linkedin.com/in/shreya-khurana-437211237/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork896-2023-01-01)
## Changelog

| Date (YYYY-MM-DD) | Version | Changed By                   | Change Description                 |
| ----------------- | ------- | ---------------------------- | ---------------------------------- |
| 2023-04-04        | 2.0    | Shreya Khurana            | Created revised version of the lab|
| 2022-03-16        | 1.0    | Lakshmi Holla            | Created Initial Version using SQLite with RJDBC|


<hr>

<h2 align=center><font size = 5>Copyright &copy; IBM Corporation 2021-2022. All rights reserved.</h2>